@font-face
{
    font-family: 'raleway';
    src: url('polices/raleway.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'learningcurvedashedpro_regular_macroman';
    src: url('police/LearningCurve_OT-webfont.eot'),
   			url('police/LearningCurveDashed_OT-webfont.ttf'),
  			url('police/LearningCurveDashed_OT-webfont.svg'),
   			url('police/LearningCurveDashed_OT-webfont.woff');
}

/*=============================================
=            Style de Base            =
=============================================*/

body {
    font: 300 16px/1;
    font-family: 'raleway', serif;
}

/*=====  End of Style de Base  ======*/


/*=============================================
=            Page Accueil            =
=============================================*/



/*=====  End of Page Accueil  ======*/

/*=============================================
=            Page inscription            =
=============================================*/

.inscription-wrapper .alert {
    border: 1px solid red;
    background-color: rgba(255,055,055,0.8);
    color: #fff;
}

/*=====  End of Page inscription  ======*/

/*=============================================
=            Ajout notes            =
=============================================*/



/*=====  End of Ajout notes  ======*/



/*=============================================
=            Page consultation            =
=============================================*/



/*=====  End of Page consultation  ======*/


/*=============================================
=            Page admin            =
=============================================*/



/*=====  End of Page admin  ======*/



