/*=============================================
=            Page Accueil            =
=============================================*/



/*=====  End of Page Accueil  ======*/

/*=============================================
=            Page inscription            =
=============================================*/

.inscription-wrapper .alert {
    border: 1px solid red;
    background-color: rgba(255,025,025,0.3)
    color: #fff;
}

/*=====  End of Page inscription  ======*/

/*=============================================
=            Ajout notes            =
=============================================*/



/*=====  End of Ajout notes  ======*/



/*=============================================
=            Page consultation            =
=============================================*/



/*=====  End of Page consultation  ======*/


/*=============================================
=            Page admin            =
=============================================*/



/*=====  End of Page admin  ======*/



