/*=============================================
=            Style de Base            =
=============================================*/

body {
    font: 300 16px/1 sans-serif;
}

/*=====  End of Style de Base  ======*/


/*=============================================
=            Page Accueil            =
=============================================*/



/*=====  End of Page Accueil  ======*/

/*=============================================
=            Page inscription            =
=============================================*/

.inscription-wrapper .alert {
    border: 1px solid red;
    background-color: rgba(255,055,055,0.8);
    color: #fff;
}

/*=====  End of Page inscription  ======*/

/*=============================================
=            Ajout notes            =
=============================================*/



/*=====  End of Ajout notes  ======*/



/*=============================================
=            Page consultation            =
=============================================*/



/*=====  End of Page consultation  ======*/


/*=============================================
=            Page admin            =
=============================================*/



/*=====  End of Page admin  ======*/



